<form action="/artistas/adicionarArtistas" method="POST" class="p-4 shadow-sm rounded bg-light">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome do Artista</label>
        <input type="text" id="nome" name="nome" class="form-control" placeholder="Digite o nome do Artista" required>
    </div>
    <div class="mb-3">
        <label for="generoMusical" class="form-label">Gênero Musical</label>
        <select id="generoMusical" name="generoMusical" class="form-control" required>
            <option value="" disabled selected>Selecione um gênero</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Vincular Discos</label>
        <div>
            {{#each discos}}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="discos" value="{{this.discoId}}" id="disco-{{this.discoId}}">
                <label class="form-check-label" for="disco-{{this.discoId}}">
                    {{this.titulo}} ({{this.anoLancamento}})
                </label>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Cadastrar Artista</button>
    </div>
</form>


<script>

const generos = [
  'Pop',
  'Rock',
  'Hip-hop',
  'Jazz',
  'Classical',
  'Blues',
  'Reggae',
  'Electronic',
  'Country',
  'Soul',
  'R&B',
  'Funk',
  'Metal',
  'Ska',
  'Punk',
  'Gospel',
  'Disco',
  'Techno',
  'House',
  'Alternative',
  'Folk',
  'Latin',
  'K-pop',
  'Indie',
  'Opera',
];

    const selectGenero = document.getElementById('generoMusical');

    generos.forEach(genero => {
        const option = document.createElement('option');
        option.value = genero;
        option.textContent = genero;
        selectGenero.appendChild(option);
    });



</script>